#QDM Configuration File
#    generated at 12/07/03 16:47


<LogState>off</LogState>
<BufferSize>50000000</BufferSize>

<EventIDs>
00257, # "EVENT_CDMA_CH_CHANGE"
00260, # "EVENT_SID_CHANGE"
00261, # "EVENT_NID_CHANGE"
00267, # "EVENT_TIMER_EXPIRED"
00273, # "EVENT_REG_ZONE_CHANGE"
00279, # "EVENT_SOFT_HANDOFF"
00280, # "EVENT_HARD_HANDOFF_FREQ_CHANGE"
00281, # "EVENT_HARD_HANDOFF_FRAME_OFFSET_CHANGE"
00282, # "EVENT_HARD_HANDOFF_DISJOINT_ASET"
00283, # "EVENT_UNSUCCESSFUL_HARD_HANDOFF"
00294, # "EVENT_T_ADD_ABORT"
00296, # "EVENT_TRANSMITTER_DISABLED"
00297, # "EVENT_TRANSMITTER_ENABLED"
00302, # "EVENT_ACCESS_ATTEMPT_FAIL_MAX_PROBES_SENT"
00303, # "EVENT_ACCESS_ATTEMPT_FAIL_LOSS_OF_PC_OR_FCCC"
00311, # "EVENT_SYSTEM_RESELECTION"
00324, # "EVENT_LOSS_OF_ACQ_AFTER_SLEEP"
00447, # "EVENT_WCDMA_INTER_RAT_HANDOVER_START"
00448, # "EVENT_WCDMA_INTER_RAT_HANDOVER_END"
00515, # "EVENT_WCDMA_LAYER1_PRACH"
00530, # "EVENT_WCDMA_TO_WCDMA_RESELECTION_START"
00533, # "EVENT_WCDMA_TO_WCDMA_RESELECTION_END"
00534, # "EVENT_WCDMA_RACH_ATTEMPT"
00564, # "EVENT_WCDMA_CELL_SELECTED"
00567, # "EVENT_WCDMA_RL_FAILURE"
00568, # "EVENT_WCDMA_MAX_RESET"
00571, # "EVENT_WCDMA_RRC_STATE"
00627, # "EVENT_WCDMA_RRC_RB0_SETUP_FAILURE"
00628, # "EVENT_WCDMA_RRC_PHYCHAN_EST_FAILURE"
00636, # "EVENT_WCDMA_MEMORY_LEAK"
00901, # "EVENT_WCDMA_RRC_MODE"
01010, # "EVENT_WCDMA_PRACH"
01027, # "EVENT_HARD_HANDOFF_LONG_CODE_MASK_CHANGE"
01035, # "EVENT_LONG_CODE_MASK_CHANGED"
01105, # "EVENT_RAT_CHANGE"
01129, # "EVENT_HS_SERVING_CELL_CHANGE"
01209, # "EVENT_WCDMA_TO_WCDMA_RESELECTION_VER2_START"
01344, # "EVENT_WCDMA_PSC_SCANNER_STOP"
01347, # "EVENT_WCDMA_PSC_SCANNER_STATE"
01501, # "EVENT_LTE_RACH_ACCESS_START"
01502, # "EVENT_LTE_RACH_RAID_MATCH"
01503, # "EVENT_LTE_RACH_ACCESS_RESULT"
01606, # "EVENT_LTE_RRC_STATE_CHANGE"
01607, # "EVENT_LTE_RRC_OUT_OF_SERVICE"
01608, # "EVENT_LTE_RRC_RADIO_LINK_FAILURE"
01611, # "EVENT_LTE_RRC_NEW_CELL_IND"
01612, # "EVENT_LTE_RRC_CELL_RESEL_FAILURE"
01613, # "EVENT_LTE_RRC_HO_FAILURE"
01614, # "EVENT_LTE_RRC_PAGING_DRX_CYCLE"
01617, # "EVENT_LTE_RRC_IRAT_RESEL_FROM_EUTRAN"
01618, # "EVENT_LTE_RRC_IRAT_RESEL_FROM_EUTRAN_FAILURE"
01619, # "EVENT_LTE_RRC_SIB_READ_FAILURE"
01625, # "EVENT_HPLMN_TIMER_EXPIRED
</EventIDs>


<LogCodes>
0x1004,  # "Access Channel"
0x1005,  # "Reverse Link Channel Traffic"
0x1006,  # "Sync Channel"
0x1007,  # "Paging Channel"
0x1008,  # "Forward Link Channel Traffic"
0x1076,  # "1xEV-DO Signaling Access Channel"
0x1077,  # "1xEV-DO Signaling Reverse Traffic Channel"
0x1078,  # "1xEV-DO Signaling Control Channel Directed"
0x1079,  # "1xEV-DO Signaling Forward Traffic Channel"
0x107C,  # "1xEV-DO Signaling Control Channel Broadcast"
0x1085,  # "1xEV-DO Access Channel MAC Capsule"
0x1086,  # "1xEV-DO Control Channel MAC Packets"
0x1090,  # "Forward Dedicated Control Channel"
0x1091,  # "Reverse Dedicated Control Channel"
0x10D6,  # "Internal - BCCH Signaling"
0x10D7,  # "Internal - REACH Signaling"
0x10D8,  # "Internal - FCCCH Signaling"
0x1388,  # Unknown
0x1389,  # Unknown
0x138B,  # Unknown
0x138C,  # Unknown
0x138D,  # Unknown
0x412F,  # "WCDMA RRC Signaling Messages"
0x413F,  # "WCDMA List Search, Version 3"
0x414F,  # "WCDMA List Search, Version 2"
0x4155,  # "WCDMA CM Interfrequency Step 1 Search"
0x4156,  # "WCDMA CM Interfrequency List Search"
0x512F,  # "GSM RR Signaling Message"
0x5226,  # "GPRS MAC Signaling Messages"
0x5230,  # "GPRS SM/GMM OTA Signaling Messages"
0x713A,  # "UMTS NAS Signaling Messages"
0xB060,  # "LTE MAC Configuration"
0xB061,  # "LTE MAC RACH Trigger"
0xB062,  # "LTE MAC RACH Attempt"
0xB063,  # "LTE MAC DL Transport Block"
0xB064,  # "LTE MAC UL Transport Block"
0xB0C0,  # "LTE RRC OTA Message"
0xB0C1,  # "LTE RRC MIB Message"
0xB0E0,  # "LTE NAS ESM Security Protected OTA Incoming Message"
0xB0E1,  # "LTE NAS ESM Security Protected OTA Outgoing Message"
0xB0E2,  # "LTE NAS ESM Plain OTA Incoming Message"
0xB0E3,  # "LTE NAS ESM Plain OTA Outgoing Message"
0xB0EA,  # "LTE NAS EMM Secuirty Protected OTA Incoming Message"
0xB0EB,  # "LTE NAS EMM Secuirty Protected OTA Outgoing Message"
0xB0EC,  # "LTE NAS EMM Plain OTA Incoming Message"
0xB0ED,  # "LTE NAS EMM Plain OTA Outgoing Message"
0xB126,  # "LTE LL1 PDSCH Demapper Configuration"
0xB130,  # "LTE LL1 PDCCH Decoding Results"
0xB132,  # "LTE LL1 PDSCH Decoding Results"
0xB146,  # "LTE LL1 AGC Tx Report"
0xB166,  # "LTE ML1 PRACH Configuration"
0xB167,  # "LTE ML1 Random Access Request (MSG1) Report"
0xB168,  # "LTE ML1 Random Access Response (MSG2) Report"
0xB169,  # "LTE ML1 UE Identification Message (MSG3) Report"
0xB16A,  # "LTE ML1 Contention Resolution Message (MSG4) Report"
0xB16B,  # "LTE ML1 PDCCH-PHICH Indication Report"
0xB173,  # "LTE ML1 PDSCH Stat Indication"
0xB176,  # "LTE ML1 Initial Acquisition Results"
0xB17A,  # "LTE ML1 Cell Select/Reselect S check procedure"
0xB17F,  # "LTE ML1 Serving Cell Measurements And Evaluation"
0xB181,  # "LTE ML1 Cell Reselection Packet"
0xB18A,  # "LTE ML1 Radio Link Monitoring"
0xB192,  # "LTE ML1 Idle Neighbor Cell Measurement Req/Resp
</LogCodes>


<MessageLevels>
00000/03, # "Legacy/Error"
00000/04, # "Legacy/Fatal"
00002/00, # "Audio Vocoder Services/Low"
00002/01, # "Audio Vocoder Services/Medium"
00002/02, # "Audio Vocoder Services/High"
00002/03, # "Audio Vocoder Services/Error"
00002/04, # "Audio Vocoder Services/Fatal"
00005/01, # "Call Manager/Medium"
00005/02, # "Call Manager/High"
00005/03, # "Call Manager/Error"
00005/04, # "Call Manager/Fatal"
00015/00, # "CDMA System Determination/Low"
00015/01, # "CDMA System Determination/Medium"
00015/02, # "CDMA System Determination/High"
00015/03, # "CDMA System Determination/Error"
00015/04, # "CDMA System Determination/Fatal"
00017/00, # "Voice Recognition/Low"
00017/01, # "Voice Recognition/Medium"
00017/02, # "Voice Recognition/High"
00017/03, # "Voice Recognition/Error"
00017/04, # "Voice Recognition/Fatal"
00018/01, # "Wireless Messaging Services/Medium"
00018/02, # "Wireless Messaging Services/High"
00018/03, # "Wireless Messaging Services/Error"
00018/04, # "Wireless Messaging Services/Fatal"
00020/01, # "Multi Mode Controller/Medium"
00020/02, # "Multi Mode Controller/High"
00020/03, # "Multi Mode Controller/Error"
00020/04, # "Multi Mode Controller/Fatal"
00021/00, # "User Identity Module/Low"
00021/01, # "User Identity Module/Medium"
00021/02, # "User Identity Module/High"
00021/03, # "User Identity Module/Error"
00021/04, # "User Identity Module/Fatal"
00030/19, # Unknown
00030/20, # Unknown
00030/21, # Unknown
00050/00, # "GPS SM/Low"
00050/01, # "GPS SM/Medium"
00050/02, # "GPS SM/High"
00050/03, # "GPS SM/Error"
00050/04, # "GPS SM/Fatal"
00058/00, # "Android ADB/Low"
00058/01, # "Android ADB/Medium"
00058/02, # "Android ADB/High"
00058/03, # "Android ADB/Error"
00058/04, # "Android ADB/Fatal"
00063/01, # "Android QCRIL/Medium"
00063/02, # "Android QCRIL/High"
00063/03, # "Android QCRIL/Error"
00063/04, # "Android QCRIL/Fatal"
00500/01, # "ONCRPC/Medium"
00500/02, # "ONCRPC/High"
00500/03, # "ONCRPC/Error"
00500/04, # "ONCRPC/Fatal"
00501/02, # "ONCRPC Misc Modem/High"
00501/03, # "ONCRPC Misc Modem/Error"
00501/04, # "ONCRPC Misc Modem/Fatal"
00502/02, # "ONCRPC Misc Apps/High"
00502/03, # "ONCRPC Misc Apps/Error"
00502/04, # "ONCRPC Misc Apps/Fatal"
00503/00, # "ONCRPC CM Modem/Low"
00503/01, # "ONCRPC CM Modem/Medium"
00503/02, # "ONCRPC CM Modem/High"
00503/03, # "ONCRPC CM Modem/Error"
00503/04, # "ONCRPC CM Modem/Fatal"
00504/02, # "ONCRPC CM Apps/High"
00504/03, # "ONCRPC CM Apps/Error"
00504/04, # "ONCRPC CM Apps/Fatal"
01000/01, # "1X Default/Medium"
01000/02, # "1X Default/High"
01000/03, # "1X Default/Error"
01000/04, # "1X Default/Fatal"
01002/01, # "Digital Call Processing/Medium"
01002/02, # "Digital Call Processing/High"
01002/03, # "Digital Call Processing/Error"
01002/04, # "Digital Call Processing/Fatal"
01006/01, # "Multiplex Sublayer/Medium"
01006/02, # "Multiplex Sublayer/High"
01006/03, # "Multiplex Sublayer/Error"
01006/04, # "Multiplex Sublayer/Fatal"
02000/02, # "1xEV-DO Protocol/High"
02000/03, # "1xEV-DO Protocol/Error"
02000/04, # "1xEV-DO Protocol/Fatal"
02001/02, # "1xEV-DO Data/High"
02001/03, # "1xEV-DO Data/Error"
02001/04, # "1xEV-DO Data/Fatal"
03000/02, # "UMTS/High"
03000/03, # "UMTS/Error"
03000/04, # "UMTS/Fatal"
03001/02, # "WCDMA L1/High"
03001/03, # "WCDMA L1/Error"
03001/04, # "WCDMA L1/Fatal"
03002/02, # "WCDMA L2/High"
03002/03, # "WCDMA L2/Error"
03002/04, # "WCDMA L2/Fatal"
03003/02, # "WCDMA MAC/High"
03003/03, # "WCDMA MAC/Error"
03003/04, # "WCDMA MAC/Fatal"
03004/02, # "WCDMA RLC/High"
03004/03, # "WCDMA RLC/Error"
03004/04, # "WCDMA RLC/Fatal"
03005/02, # "WCDMA RRC/High"
03005/03, # "WCDMA RRC/Error"
03005/04, # "WCDMA RRC/Fatal"
03006/00, # "NAS CNM/Low"
03006/01, # "NAS CNM/Medium"
03006/02, # "NAS CNM/High"
03006/03, # "NAS CNM/Error"
03006/04, # "NAS CNM/Fatal"
03007/00, # "NAS MM/Low"
03007/01, # "NAS MM/Medium"
03007/02, # "NAS MM/High"
03007/03, # "NAS MM/Error"
03007/04, # "NAS MM/Fatal"
03008/00, # "NAS MN/Low"
03008/01, # "NAS MN/Medium"
03008/02, # "NAS MN/High"
03008/03, # "NAS MN/Error"
03008/04, # "NAS MN/Fatal"
03009/00, # "NAS RABM/Low"
03009/01, # "NAS RABM/Medium"
03009/02, # "NAS RABM/High"
03009/03, # "NAS RABM/Error"
03009/04, # "NAS RABM/Fatal"
03010/00, # "NAS REG/Low"
03010/01, # "NAS REG/Medium"
03010/02, # "NAS REG/High"
03010/03, # "NAS REG/Error"
03010/04, # "NAS REG/Fatal"
03011/00, # "NAS SM/Low"
03011/01, # "NAS SM/Medium"
03011/02, # "NAS SM/High"
03011/03, # "NAS SM/Error"
03011/04, # "NAS SM/Fatal"
03012/00, # "NAS TC/Low"
03012/01, # "NAS TC/Medium"
03012/02, # "NAS TC/High"
03012/03, # "NAS TC/Error"
03012/04, # "NAS TC/Fatal"
04001/02, # "GSM L1/High"
04001/03, # "GSM L1/Error"
04001/04, # "GSM L1/Fatal"
04003/02, # "GSM RR/High"
04003/03, # "GSM RR/Error"
04003/04, # "GSM RR/Fatal"
05000/01, # "Data Services/Medium"
05000/02, # "Data Services/High"
05000/03, # "Data Services/Error"
05000/04, # "Data Services/Fatal"
06000/02, # "Applications Default/High"
06000/03, # "Applications Default/Error"
06000/04, # "Applications Default/Fatal"
06001/02, # "Application Manager/High"
06001/03, # "Application Manager/Error"
06001/04, # "Application Manager/Fatal"
06002/00, # "User Interface/Low"
06002/01, # "User Interface/Medium"
06002/02, # "User Interface/High"
06002/03, # "User Interface/Error"
06002/04, # "User Interface/Fatal"
06037/05, # Unknown
09403/00, # Unknown
09403/01, # Unknown
09403/02, # Unknown
09403/03, # Unknown
09403/04, # Unknown
09500/00, # "LTE/Low"
09500/01, # "LTE/Medium"
09500/02, # "LTE/High"
09500/03, # "LTE/Error"
09500/04, # "LTE/Fatal"
09501/00, # "LTE RRC/Low"
09501/01, # "LTE RRC/Medium"
09501/02, # "LTE RRC/High"
09501/03, # "LTE RRC/Error"
09501/04, # "LTE RRC/Fatal"
09501/08, # "LTE RRC/SIB"
09501/09, # "LTE RRC/CSP"
09501/10, # "LTE RRC/CEP"
09501/11, # "LTE RRC/CTRL"
09501/12, # "LTE RRC/CRP"
09501/13, # "LTE RRC/PAG"
09501/14, # "LTE RRC/CFG"
09501/15, # "LTE RRC/LLC"
09501/16, # "LTE RRC/MH"
09501/17, # "LTE RRC/DT"
09501/18, # "LTE RRC/CRE"
09501/19, # "LTE RRC/SEC"
09501/20, # "LTE RRC/MEAS"
09502/00, # "LTE MACUL/Low"
09502/01, # "LTE MACUL/Medium"
09502/02, # "LTE MACUL/High"
09502/03, # "LTE MACUL/Error"
09502/04, # "LTE MACUL/Fatal"
09502/05, # "LTE MACUL/Rach"
09502/06, # "LTE MACUL/PktBuild"
09503/00, # "LTE MACDL/Low"
09503/01, # "LTE MACDL/Medium"
09503/02, # "LTE MACDL/High"
09503/03, # "LTE MACDL/Error"
09503/04, # "LTE MACDL/Fatal"
09503/05, # "LTE MACDL/PDU"
09504/00, # "LTE MACCTRL/Low"
09504/01, # "LTE MACCTRL/Medium"
09504/02, # "LTE MACCTRL/High"
09504/03, # "LTE MACCTRL/Error"
09504/04, # "LTE MACCTRL/Fatal"
09504/05, # "LTE MACCTRL/QoS"
09504/06, # "LTE MACCTRL/CFG"
09505/00, # "LTE RLCUL/Low"
09505/01, # "LTE RLCUL/Medium"
09505/02, # "LTE RLCUL/High"
09505/03, # "LTE RLCUL/Error"
09505/04, # "LTE RLCUL/Fatal"
09506/00, # "LTE RLCDL/Low"
09506/01, # "LTE RLCDL/Medium"
09506/02, # "LTE RLCDL/High"
09506/03, # "LTE RLCDL/Error"
09506/04, # "LTE RLCDL/Fatal"
09506/05, # "LTE RLCDL/Config"
09506/06, # "LTE RLCDL/Polling"
09506/07, # "LTE RLCDL/Inter Task Msgs"
09506/08, # "LTE RLCDL/Status"
09506/09, # "LTE RLCDL/Data Path"
09507/00, # "LTE PDCPUL/Low"
09507/01, # "LTE PDCPUL/Medium"
09507/02, # "LTE PDCPUL/High"
09507/03, # "LTE PDCPUL/Error"
09507/04, # "LTE PDCPUL/Fatal"
09508/00, # "LTE PDCPDL/Low"
09508/01, # "LTE PDCPDL/Medium"
09508/02, # "LTE PDCPDL/High"
09508/03, # "LTE PDCPDL/Error"
09508/04, # "LTE PDCPDL/Fatal"
09509/00, # "LTE ML1/Low"
09509/01, # "LTE ML1/Medium"
09509/02, # "LTE ML1/High"
09509/03, # "LTE ML1/Error"
09509/04, # "LTE ML1/Fatal"
09509/05, # "LTE ML1/BPLMN"
09509/06, # "LTE ML1/Common"
09509/07, # "LTE ML1/DLM"
09509/08, # "LTE ML1/FWD"
09509/09, # "LTE ML1/GM"
09509/10, # "LTE ML1/Manager"
09509/11, # "LTE ML1/MD"
09509/12, # "LTE ML1/RFMGR"
09509/13, # "LTE ML1/SCHDLR"
09509/14, # "LTE ML1/Search"
09509/15, # "LTE ML1/SleepMGR"
09509/16, # "LTE ML1/ULM"
09509/20, # "LTE ML1/IRAT"
09509/21, # "LTE ML1/Cell Barring"
09509/22, # "LTE ML1/AFC"
09904/00, # Unknown
09904/01, # Unknown
09904/02, # Unknown
09904/03, # Unknown
09904/04, # Unknown
49153/00, # Unknown
49153/01, # Unknown
49153/02, # Unknown
49153/03, # Unknown
49153/04, # Unknow
</MessageLevels>

<AdbLogState>off</AdbLogState>
<AdbSizeInfo>10000000, 10000000, 5000000, 20000000</AdbSizeInfo>

<Category>
1,0,0,1
</Category>

<DplState>off</DplState>

<IfIDs>
1, 15, 19
</IfIDs>