<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Messenger - Responsive Bootstrap Application</title>

    <!-- Template core CSS -->
    @@if (theme == "auto") {
    <link href="assets/css/template.min.css" rel="stylesheet">
    <link href="assets/css/template.dark.min.css" rel="stylesheet" media="(prefers-color-scheme: dark)">
    }
    @@if (theme == "light") {
    <link href="assets/css/template.min.css" rel="stylesheet">
    }
    @@if (theme == "dark") {
    <link href="assets/css/template.dark.min.css" rel="stylesheet">
    }
</head>