<!-- File -->
<li class="list-group-item py-6">
    <div class="media">

        <div class="icon-shape bg-primary text-white mr-5">
            <i class="fe-paperclip"></i>
        </div>

        <div class="media-body align-self-center overflow-hidden">
            <h6 class="text-truncate mb-0">
                <a href="#" class="text-reset" title="@@name">@@name</a>
            </h6>

            <ul class="list-inline small mb-0">
                <li class="list-inline-item">
                    <span class="text-muted">79.2 KB</span>
                </li>
                <li class="list-inline-item">
                    <span class="text-muted text-uppercase">@@type</span>
                </li>
            </ul>
        </div>

        <div class="align-self-center ml-5">
            <div class="dropdown">
                <a href="#" class="btn btn-sm btn-ico btn-link text-muted w-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fe-more-vertical"></i>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        Download <span class="ml-auto fe-download"></span>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        Share <span class="ml-auto fe-share-2"></span>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        Delete <span class="ml-auto fe-trash-2"></span>
                    </a>
                </div>
            </div>
        </div>

    </div>
</li>
<!-- File -->

